<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.hasani.moein.taan.tinynotebook">

    <application
        android:allowBackup="true"
        android:icon="@drawable/notebook_one"
        android:label="My Diary"
        android:roundIcon="@drawable/notebook_one"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".Note" />
        <activity android:name=".Notesdetails_forlist" />
        <activity android:name=".notes_list"
            android:theme="@style/AppTheme.NoActionBar">
        <intent-filter>
            <action android:name="android.intent.action.MAIN" />
            <category android:name="android.intent.category.LAUNCHER" />
        </intent-filter>


           </activity>
    </application>

</manifest>